# Web Framework & Server
fastapi
uvicorn

# Frontend Framework
streamlit
pandas

# Document Parsing
pypdf2
python-docx

# AI & Vector Database
langchain
langchain-google-genai
langchain-groq
langchain-chroma
langchain-community
chromadb

# HTTP Requests
requests
